@import "tailwindcss";

@theme {
  --color-dark-green: #266B28;
  --color-light-green: #9DC49E;
  --color-dark-gray: #6E6E6E;
  --color-med-gray: #D8D8D8;
  --color-light-gray: #EEEEEE;
  --color-light-yellow: #FFE882;
  --color-dark-yellow: #88710C;
}